<div class="container">
    <br>
    <h1>Pipes</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Variable</th>
            <th scope="col">Pipe</th>
            <th scope="col">Output</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> {{ name }}</td>
            <td> uppercase</td>
            <td> {{ name | uppercase }}</td>
        </tr>
        <tr>
            <td> {{ name }}</td>
            <td> lowercase</td>
            <td> {{ name | lowercase }}</td>
        </tr>
        <tr>
            <td> {{ name }}</td>
            <td> slice:2</td>
            <td> {{ name | slice:2 }}</td>
        </tr>
        <tr>
            <td> {{ name }}</td>
            <td> slice:0:2</td>
            <td> {{ name | slice:0:2 }}</td>
        </tr>
        <tr>
            <td> {{ array }}</td>
            <td> slice:1:5</td>
            <td> {{ array | slice:1:5 }}</td>
        </tr>
        <tr>
            <td> {{ PI }}</td>
            <td> number:'3.0-0'</td>
            <td> {{ PI | number:'3.0-0' }}</td>
        </tr>
        <tr>
            <td> {{ PI }}</td>
            <td> number:'1.2-0'</td>
            <td> {{ PI | number:'1.0-2' }}</td>
        </tr>
        <tr>
            <td> {{ value }}</td>
            <td> percent</td>
            <td> {{ value | percent }}</td>
        </tr>
        <tr>
            <td> {{ value }}</td>
            <td> percent:'2.2-2'</td>
            <td> {{ value | percent:'2.2-2' }}</td>
        </tr>
        <tr>
            <td> {{ salary }}</td>
            <td> currency</td>
            <td> {{ salary | currency }}</td>
        </tr>
        <tr>
            <td> {{ salary }}</td>
            <td> currency:'EUR'</td>
            <td> {{ salary | currency:'EUR' }}</td>
        </tr>
        <tr>
            <td> {{ salary }}</td>
            <td> currency:'EUR':false</td>
            <td> {{ salary | currency:'EUR':false }}</td>
        </tr>
        <tr>
            <td> {{ salary }}</td>
            <td> currency:'EUR:'4.0-0'</td>
            <td> {{ salary | currency:'EUR':'4.0-0' }}</td>
        </tr>
        <tr>
            <td> {{ promiseValue }}</td>
            <td> async</td>
            <td> {{ promiseValue | async }}</td>
        </tr>
        <tr>
            <td> {{ myDate }}</td>
            <td> date</td>
            <td> {{ myDate | date }}</td>
        </tr>
        <tr>
            <td> {{ myDate }}</td>
            <td> date:'medium'</td>
            <td> {{ myDate | date:'medium' }}</td>
        </tr>
        <tr>
            <td> {{ myDate }}</td>
            <td> date:'MMMM - dd'</td>
            <td> {{ myDate | date:'MMMM - dd' }}</td>
        </tr>
        <tr>
            <td> {{ name2 }}</td>
            <td> capitalize</td>
            <td> {{ name2 | capitalize }}</td>
        </tr>
        <tr>
            <td> {{ name2 }}</td>
            <td> capitalize:false</td>
            <td> {{ name2 | capitalize:false }}</td>
        </tr>
        <tr>
            <td> {{ myPassword }}</td>
            <td> password</td>
            <td> {{ myPassword | password }}</td>
        </tr>
        <tr>
            <td> {{ myPassword }}</td>
            <td>
                password:{{ active }}
                <br><br>
                <button (click)=" active = !active" type="button" class="btn btn-outline-primary">
                    Activate/Deactivate
                </button>
            </td>
            <td> {{ myPassword | password: active}}</td>
        </tr>
        </tbody>
    </table>
    <h3>Slice</h3>
    <ul>
        <li *ngFor="let i of array | slice:5:20 "> {{ i }}</li>
    </ul>
    <h3>JSON</h3> <pre>
    {{ heroes | json}}
  </pre>
</div>